{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-5.1.3-dist/css/bootstrap.min.css' %}">
    <title>funcionarios</title>
</head>
<body>

{% include 'partials/_menu.html' %}

<!-- CONTEUDO EMPREGADOS 1 -->
    <div class="guardaempregados">
        <div class="empregados" id="empregados" style=" width: 90%; margin: 6%;">
        </div>

        </div>
        <!-- CONTEUDO EMPREGADOS 2 -->
			</div>
    <!-- <div class="empregados2" id="empregados2" style="display: none; color: white; "></div> -->

    <script src="{% static 'js/muda-aba.js'%}"></script>
	<script src="{% static 'js/funcionarios.js'%}"></script>
	<!-- <script src="{% static 'js/produtos.js'%}"></script>	 -->
	<script src="{% static 'bootstrap-5.1.3-dist/js/bootstrap.min.js'%}"></script>
</body>
</html>